.page-footer{
    bottom: 0;
    color: white;
    font-size: .9rem;
    background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
}

.page-footer .footer-row{
    display: flex;
    flex-wrap: wrap;
    /*margin-right: -15px;*/
    /*margin-left: -15px;*/
    width: 100%;

}

.page-footer .footer-row .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page-footer .footer-row .flex-center i{
    color: white;
    padding: 3rem;
    font-size: 4rem;
}

.page-footer .copy-right {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
    color: rgba(0,0,0,.4);
    text-align: center!important;
    font-size: 15px;
}

.page-footer .copy-right a{
    color: white;
    text-decoration: none;
}

