.header {
    background: linear-gradient(to right, #f08221 0%, #77263d 100%);
    /*position: absolute;*/
    width: 100%;
    top: 0;
    left: 0;
}

.header .logo{
    width: 100px;
    height: 50px;
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: darkred;
}