.flex-home{
    display: flex;
    flex-direction: row;
    flex:1;
    height: 710px;
}

.flex-home .header-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-home .header-container button{
    margin: 1rem 0 1rem 0;
}

.flex-home .header-container .form-search{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 1rem;
    margin-right: 1rem;

}

.flex-home .header-container .form-search .form-input{
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #ced4da;
    box-shadow: none;
    margin-right: 1rem;
}

.flex-home .header-container .form-search .form-input:focus{
    border-bottom: 2px solid #f48fb1;
}

.modal-form-group .form-group{
    color:red;
    display: flex;
    align-items: center;
}

.modal-form-group .form-group .form-title{
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #ced4da;
    box-shadow: none;
    margin-left: 1rem;
}

.modal-form-group .form-group .form-title:focus{
    border-bottom: 2px solid red;
}

.main-menu{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sub-menu{
    background-color: #001529;
}

.sub-menu button{
    background-color: #001529;
    border: none;
    color: white;
    border-radius: 0;
}

.sub-menu button:hover{
    background-color: #001529;
    color: white;
    border-radius: 0;
}

.sub-menu button:focus{
    background-color: #001529;
    border: none;
    color: white;
}