body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Roboto', helvetica, arial, sans-serif !important;
}

.header {
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px #f0f1f2;
    box-shadow: 0 2px 8px #f0f1f2;
    position: relative;
    z-index: 10;
    max-width: 100%;
    color: #ca212c;
}
.header .logo {
    width: 120px;
    height: 54px;
    background: url("assets/images/book_outlet_logo.png") no-repeat;
    background-size: contain;
    margin: 5px -30px 5px 0;
    float: left;
}

.header .title {
    font-weight: bold;
    font-size: 22px;
    float: left;
}

.content {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.ant-menu-horizontal {
    border-bottom: 0px solid #e8e8e8;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: 0px solid #e8e8e8;
}

.ant-form-item {
    margin-bottom: 18px;
}

.ant-layout-header {
    background: #ffffff !important;
}

.form-box {
    border: 1px solid #ebedf0;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    position: relative;
    -webkit-transition: all .2s;
    transition: all .2s;
    padding: 42px 10px 50px;
    background-color: white;
}

.login-layout {
    min-height: 100vh;
}

.login-content {
    max-width: 800px;
    margin: 130px auto;
    position: relative;
    padding: auto auto;
}

.login-content h1 {
    font-weight: 200;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.login-content h2 {
    font-weight: 200;
    text-align: center;
    color: #333;
    font-size: 20px;
    margin-bottom: 40px;
}

.login-form {
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}

.book-cover {
    width: 150px;
    height: 200px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    margin: 3px auto;
    background-color: white;
}

.book-cover .image {
    background-size: contain;
    height: 100%;
    width: 100%;
}

.highlight {
    background-color: yellow;
}